// Sass partial

.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;

    &--after-open {
        opacity: 1;
    }

    &--before-close {
        opacity: 0;
    }
}

.modal {
    background: $light-blue;
    color: #fff;
    max-width: 30rem;
    outline: none;
    padding: $large-size;
    text-align: center;

    &__title {
        margin: 0 0 $medium-size 0;
    }

    &__body {
        font-size: 2rem;
        font-weight: 300;
        margin: 0 0 $large-size 0;
        word-break: break-all;      // breaks up long words so the UI doesn't break
    }
}