// Sass partial

html {
    font-size: 62.5%;   // gets us to a base 10 system for calculating rems
}

body {
    background: $dark-blue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: $medium-size;
}

button {
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}